<div class="container"fxLayout="row wrap"  fxFlex.sm="100%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="row wrap">
   
  <div class="body" fxFlex="100%" fxFlex.sm="100%" fxFlex.sm="50%"  fxFlex.xs="100%">

    <div class="snow"></div>
     <img class="img1" src="./assets/Images/develop.png"><br><br><br><br>
<div class="container1">
       <div class="profile">
         <a  href="https://www.facebook.com/pragalathan.pragalathan.986">
          <img class="image2"  src="./assets/Images/facebook1.png" alt=""/>
        <span class="name"> Facebook</span>
      </a>
       </div>

       <div class="profile">
        <a href="https://www.instagram.com/itsme_pragalathan_balaji/" >
          <img class="image2"  src="./assets/Images/insta2.png" alt=""/>
        <span class="name"> Instagram</span>
      </a>
</div>

<div class="profile">
      <a href="mailto:pragalathanp872@gmail.com" style="font-size:large ;" >
        <img class="image2" src="./assets/Images/gmail2.png" alt=""/>
      <span class="name">Send  Gmail</span>
</a> 
</div>

<div class="profile">
      <a  href="https://github.com/Pragalathan-Murugesan">
        <img class="image2"   src="./assets/Images/github1.png" alt=""/>
      <span class="name"> Github</span>
    </a>
    </div>

    <div class="profile">
      <a href="https://www.linkedin.com/in/pragalathan-murugesan-b64893218/">
        <img class="image2"  src="./assets/Images/linkedin.png" alt=""/>
      <span class="name"> Linkedn</span>
    </a>
    </div>
</div><br><br><br>

<div class="contact-info">
  <div class="icon-container">
    <mat-icon class="icon" style="color: beige;">phone</mat-icon>
    <h2 class="text">9047397741</h2>
  </div>
  <div class="icon-container">
    <mat-icon class="icon" style="color: beige;">gmail</mat-icon>
    <h2 class="text">pragalathanp872@gmail.com</h2>
  </div>
</div>


        <br>
       <h1>
     Thank you for Visiting
    </h1> 
     <br>
 <img class="img1" src="./assets/Images/flower.png"><br>
</div>
</div>