<div class="container"
fxLayout="row wrap" 
fxFlex.sm="100%" 
fxFlex.sm="50%" 
fxFlex.xs="100%" 
 fxLayoutAlign="row wrap">
 <div fxFlex="100%" fxFlex.sm="100%" fxFlex.sm="50%">
    <img id="img1" src="./assets/Images/develop.png"><br>

      <mat-icon class="icon" >facebook</mat-icon>
         <a style="font-size:large ;" href="https://www.facebook.com/pragalathan.pragalathan.986">Facebook
      <mat-icon class="smile" >sentiment_satisfied_alt
      </mat-icon>
        </a><br><br>

   <img class="icon" id="img2"  src="./assets/Images/insta1.png">
        <a style="font-size:large ;" href="https://www.instagram.com/itsme_pragalathan_balaji/">Instagram
      <mat-icon class="smile">sentiment_satisfied_alt
      </mat-icon>
        </a><br><br>

     <mat-icon class="icon"  > email</mat-icon>
      <a href="mailto:pragalathanp872@gmail.com" style="font-size:large ;" >pragalathanp872@gmail.com 
     <mat-icon class="smile" >sentiment_satisfied_alt</mat-icon>
      </a> <br><br>
       
  <img class="icon" id="img3"  src="./assets/Images/github.png">
      <a style="font-size:large ;" href="https://github.com/Pragalathan-Murugesan">Github
     <mat-icon class="smile" >sentiment_satisfied_alt</mat-icon>
      </a><br><br>
   
     <mat-icon class="icon" > phone</mat-icon>9047397741 <br><br>
       <h1>
     <mat-icon class="smile"> insert_emoticon</mat-icon>
     <mat-icon class="smile" >mood</mat-icon>Thank you for Visiting
     <mat-icon class="smile" >insert_emoticon</mat-icon>
     <mat-icon class="smile"> insert_emoticon</mat-icon><br>
 <img src="./assets/Images/flower.png">
</h1> 
</div>
</div>