<div class="container"fxLayout="row wrap"  fxFlex.sm="100%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="row wrap">
   
    <div class="body" fxFlex="100%" fxFlex.sm="100%" fxFlex.sm="50%"  fxFlex.xs="100%">

        <div class="snow"></div>
        
    <img class="img" style=" width:75%;height:400px;margin-right:100px;" src="./assets/Images/achievements.png"><br><br>
       
    <h1>Certificate of Participation</h1>
        <ul style=" font-size: large; color: white;">
            <li> <i>"Research Opportunities in Data Science"</i> held on 25th January 2019, At Annai College of Arts & Science Kumbakonam.</li><br><br><br>
            <li><i>"Intellectual Property Rights (IPR) & Research Proposal Writing"</i> held on 17th August 2019, At Mass College of Arts & Science Kumbakonam.</li><br><br><br>
            <li><i>"System Programming & Data Analytics with Python"</i> held on 20th, 21st September 2019,At Dharmapuram Adhinam Arts College Mayiladuthurai.</li>
        </ul><br>

        <button class=" btn1" type="button" (click)="toggle()">
            <a  routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Previous</a>
            </button>
           <button class=" btn2" type="button" (click)="toggle()">
          <a  routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Next</a>
          </button>
</div>
</div>
