<div class="container"fxLayout="row wrap"  fxFlex.sm="90%" fxFlex.sm="45%" fxFlex.xs="100%"  fxLayoutAlign="row wrap">
   <marquee
        width="58%"
        direction="right"
        behavior="slide">
        <h1>
         Welcome To All
          </h1></marquee>
    <div fxFlex="100%" fxFlex.sm="90%" fxFlex.sm="45%">
 <marquee  
          width="100%"
         height="520px" 
         direction="down"
         behavior="slide">
         <img  class="img" src="./assets/Images/software.png" alt="">
         <h2> Web Developer</h2>
       </marquee> 
       </div>
         
</div>