<div class="container"fxLayout="row wrap"  fxFlex.sm="90%" fxFlex.sm="45%" fxFlex.xs="100%"  fxLayoutAlign="row wrap">
   
    <div class="body" fxFlex="100%" fxFlex.sm="90%" fxFlex.sm="45%">
 
      <div class="snow"></div>
    
         <img  class="img" src="./assets/Images/software.png" alt="">
         <div class="wrapper">
            <div class="typing-demo">
              <h2>Web Developer</h2> 
               
            </div>
            </div>
          
            <nav>  <button class="btn" type="button" (click)="toggle()">
             <a [routerLink]="['about']">Next</a>

        </button>

       </nav>
       <div [@routeAnimations]="getRouteAnimationData()">

       </div>
       </div>
         
</div>